<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('parts/head.ejs') %>
</head>
<body>
	<div id="top">
		<%- include('parts/menu.ejs') %>
		<%- include('parts/loginBlock.ejs') %>
	</div>
	<div id="main">
		<br>
		
		<h2>Last images:</h2>
		<%- include('parts/imagesList.ejs', {images: latestImages, tagId: 'latestImages'}) %>
		<div class="see_all"><a href="/gallery">See all</a></div>
		
		<br><br>
		
		<h2>Popular images:</h2>
		<%- include('parts/imagesList.ejs', {images: popularImages, tagId: 'popularImages'}) %>
		<div class="see_all"><a href="/gallery?sortBy=popular">See all</a></div>
		
		<br>
	</div>
</body>
</html>